button {
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition);
    margin-right: 10px;
}
button:first-of-type {
    background-color: var(--primary-color);
    color: white;
}
button:first-of-type:hover {
    background-color: #16a34a;
    transform: translateY(-3px);
}
button:last-of-type {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--secondary-color);
}
button:last-of-type:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
    color: white;
}
#contact-form {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--shadow-soft);
    max-width: 600px;
    margin: 20px auto;
}
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 0.9rem;
}
.input-group input,
.input-group textarea {
    padding: 12px 15px;
    border: 2px solid #eef2f3;
    font-family: inherit;
    transition: var(--transition);
    color: var(--text-dark);
    border-radius: 8px;
    font-size: 1rem;
}
.input-group input:focus,
.input-group textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    transform: translateX(5px) ;
    box-shadow: 0 0 10px rgba(34, 197, 94, 0.1);
}
.submit-btn {
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.submit-btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}
.divider {
    text-align: center;
    margin: 15px 0;
    color: var(--text-light);
    font-size: 0.8rem;
    font-weight: bold;
}
.whatsapp-link-btn {
    display: block;
    background-color: transparent;
    border: 2px solid #25d366;
    color: #25d366;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    transition: var(--transition);
    text-align: center;
}
.whatsapp-link-btn:hover {
    background-color: #25d366;
    color: white;
}   